<html lang="pt-br">
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/Radial-2.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <div class="col-md-6">
                    <div class="row header-summary">
                        <div class="tab-content">
                            <!--
                                    color-classes: 
                                    "nav-pills-primary", 
                                    "nav-pills-info", 
                                    "nav-pills-success", 
                                    "nav-pills-warning",
                                    "nav-pills-danger"
                                -->
                            <ul class="nav nav-pills nav-pills-danger nav-pills-icons justify-content-center"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                        [routerLink]="['/shared/evaluate-local']" routerLinkActive="router-link-active"
                                        role="button">
                                        <i class="now-ui-icons ui-2_like"></i>Avaliar
                                    </a><br>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/shared/list-local']"
                                        routerLinkActive="router-link-active" role="button">
                                        <i class="now-ui-icons sport_trophy"></i>Listar
                                    </a><br>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                        [routerLink]="['/shared/register-local']" routerLinkActive="router-link-active"
                                        role="button">
                                        <i class="now-ui-icons ui-1_simple-add"></i>Cadastrar
                                    </a><br>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/no-shared/merge-local']" 
                                    routerLinkActive="router-link-active"  role="button">
                                        <i class="now-ui-icons design_vector"></i>Mesclar</a><br>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/no-shared/notify-local']" 
                                    routerLinkActive="router-link-active" role="button">
                                        <i class="now-ui-icons ui-1_email-85"></i>Notificar</a><br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>