<html lang="pt-br">
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/Radial-2.jpg)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <div class="content-center brand">
          <img class="n-logo" src="assets/img/now-logo.png" alt="">
          <h4>Mesclar Duplicatas?</h4>
          <div class="card-body">
            <div class="tab-content text-center">
              <div class="tab-pane active" id="home" role="tabpanel">
                <p> Devido a indisponibilidade da plataforma firebase, esta funcionalidade ficará para eventos futuros!
                </p>
                <button class="btn btn-primary btn-round" type="button" (click)="cancel()">Voltar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>