<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/Radial-2.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <div class="content-center brand">
                    <img class="n-logo" src="assets/img/now-logo.png" alt="">
                    <div class="card">
                        <div class="content-center brand">
                            <div class="col-md-12 mr-auto">
                                <ul class="nav nav-tabs justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <span style="color: black">{{local.nome}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="avalia-screen" role="tabpanel">
                                        <p style="color: black">Endereco: {{local.endereco.logradouro}},
                                            {{local.endereco.numero}},
                                            {{local.endereco.bairro}},
                                            {{local.endereco.localidade}}</p>
                                        <p style="color: black">Telefone: {{local.contato.telefone}}</p>
                                        <p style="color: black">E-mail: {{local.contato.email}}</p>
                                        <p style="color: black">Site: {{local.endereco.website}}</p>
                                        <p style="color: black">Nota: {{local.nota}}</p>
                                        <div class="content-center">
                                            <div class="content-center">
                                                <button class="btn btn-warning btn-round" type="button"
                                                    (click)="avaliar(local)">Avaliar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>