<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/Radial-2.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <div class="content-center brand">
                    <img class="n-logo" src="assets/img/now-logo.png" alt="">
                    <div class="card">
                        <div class="content-center brand">
                            <div class="col-md-12 mr-auto">
                                <ul class="nav nav-tabs justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <span style="color: black">NOME DO LOCAL AQUI </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="avalia-screen" role="tabpanel">
                                            <p style="color: black">Permite a entrada de cão guia? </p>

                                        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on"
                                            style="width: 72px;">

                                            <div class="bootstrap-switch-container"
                                                style="width: 122px; margin-left: 0px;"><span
                                                    class="bootstrap-switch-handle-on bootstrap-switch-primary"
                                                    style="width: 50px;">SIM</span><span class="bootstrap-switch-label"
                                                    style="width: 26px;">&nbsp;</span><span
                                                    class="bootstrap-switch-handle-off bootstrap-switch-default"
                                                    style="width: 50px;">NÃO</span><input type="checkbox"
                                                    name="checkbox" class="bootstrap-switch" data-on-label="ON"
                                                    data-off-label="OFF"></div>
                                        </div>
                                        <p style="color: black">Pergunta1 com togle de true ou false </p>
                                        <p style="color: black">Pergunta1 com togle de true ou false </p>
                                        <p style="color: black">Pergunta1 com togle de true ou false </p>
                                        <div class="content-center">
                                            <div class="content-center">
                                                <button class="btn btn-warning btn-round" type="button"
                                                    (click)="avaliar(local)">Avaliar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
