<html lang="pt-br">
<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/Radial-2.jpg)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <div class="content-center brand">
          <img class="n-logo" src="assets/img/now-logo.png" alt="">
          <h1 class="h1-seo">see me.</h1>
          <h3>Aplicativo para qualificar estabelecimentos comerciais :)</h3>
          <h4>Atualmente estamos na versão 1.0 beta</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</html>