<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/Radial-2.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <!--
                                    color-classes: 
                                    "nav-pills-primary", 
                                    "nav-pills-info", 
                                    "nav-pills-success", 
                                    "nav-pills-warning",
                                    "nav-pills-danger"
                                -->
                            <ul class="nav nav-pills nav-pills-danger nav-pills-icons fle" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/shared/evaluate-local']" routerLinkActive="router-link-active" role="tablist">
                                        <i class="now-ui-icons ui-2_like"></i>Avaliar
                                    </a>
                                </li>
                                <br>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/shared/list-local', 'todos']" routerLinkActive="router-link-active" role="tablist">
                                        <i class="now-ui-icons sport_trophy"></i>Listar
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/shared/register-local']" routerLinkActive="router-link-active"  role="tablist">
                                        <i class="now-ui-icons ui-1_simple-add"></i>Cadastrar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>